@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .global-margin {
    @apply max-w-7xl;
    @apply mx-4;
    @apply md:mx-10;
    @apply xl:mx-20;
    @apply 2xl:mx-auto;
  }
}

h1 {
  @apply text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
}

h2 {
  @apply text-[55px] uppercase;
}

.menu {
  @apply text-xl uppercase text-[#AD76F4];
}

.intro {
  @apply text-[28px] font-semibold;
}

.normal {
  @apply text-[22px];
}

.small-text {
  @apply text-[16px];
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
